In [1]:
import numpy

In [2]:
# for multiplying the arrays/sequence Refer this: https://numpy.org/doc/stable/reference/generated/numpy.multiply.html for more
numpy.multiply([1,2], [3,4])

array([3, 8])

In [3]:
# works even for the integers/ float or for the boolean values
print(numpy.multiply(3.4,33))
print(numpy.multiply(34, False))
print(numpy.multiply(34, True))

112.2
0
34

In [4]:
# numpy.abs() converts all the elements of the array into >=0
# Refer this for more: 
a= numpy.arange(-100, 100,1)
print(a)
print(69*'-')
print(numpy.abs(a))

[-100  -99  -98  -97  -96  -95  -94  -93  -92  -91  -90  -89  -88  -87
  -86  -85  -84  -83  -82  -81  -80  -79  -78  -77  -76  -75  -74  -73
  -72  -71  -70  -69  -68  -67  -66  -65  -64  -63  -62  -61  -60  -59
  -58  -57  -56  -55  -54  -53  -52  -51  -50  -49  -48  -47  -46  -45
  -44  -43  -42  -41  -40  -39  -38  -37  -36  -35  -34  -33  -32  -31
  -30  -29  -28  -27  -26  -25  -24  -23  -22  -21  -20  -19  -18  -17
  -16  -15  -14  -13  -12  -11  -10   -9   -8   -7   -6   -5   -4   -3
   -2   -1    0    1    2    3    4    5    6    7    8    9   10   11
   12   13   14   15   16   17   18   19   20   21   22   23   24   25
   26   27   28   29   30   31   32   33   34   35   36   37   38   39
   40   41   42   43   44   45   46   47   48   49   50   51   52   53
   54   55   56   57   58   59   60   61   62   63   64   65   66   67
   68   69   70   71   72   73   74   75   76   77   78   79   80   81
   82   83   84   85   86   87   88   89   90   91   92   93   94   95
   96   97   98   99]
---------------------------------------------------------------------
[100  99  98  97  96  95  94  93  92  91  90  89  88  87  86  85  84  83
  82  81  80  79  78  77  76  75  74  73  72  71  70  69  68  67  66  65
  64  63  62  61  60  59  58  57  56  55  54  53  52  51  50  49  48  47
  46  45  44  43  42  41  40  39  38  37  36  35  34  33  32  31  30  29
  28  27  26  25  24  23  22  21  20  19  18  17  16  15  14  13  12  11
  10   9   8   7   6   5   4   3   2   1   0   1   2   3   4   5   6   7
   8   9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25
  26  27  28  29  30  31  32  33  34  35  36  37  38  39  40  41  42  43
  44  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59  60  61
  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78  79
  80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97
  98  99]

In [5]:
# works even for the intger or floating data types
numpy.abs(-345.56)

345.56

In [6]:
# does the dot product for the numpy like arrays
# ? Refer this for more: https://numpy.org/doc/stable/reference/generated/numpy.dot.html
numpy.dot([1,2], [3,4])

11

In [7]:
print(numpy.dot(3,4)) # also works for the integer or for the float
print(numpy.dot(3.4,False))
print(numpy.dot(3.4,True))

12
0.0
3.4

In [8]:
numpy.transpose(
    [[1,2],
    [3,4]]
                )
# simply transposes the numpy like arrays
# refer this for more info: https://numpy.org/doc/stable/reference/generated/numpy.transpose.html

array([[1, 3],
       [2, 4]])

In [9]:
print(numpy.transpose(3) )
print(numpy.transpose(-3) ) # it does nothing for the integer or float like types

3
-3